# ── Server ────────────────────────────────────────────────────────────────────
PORT=8080
GIN_MODE=debug          # change to "release" in production

# ── CORS ──────────────────────────────────────────────────────────────────────
# Not required (AllowAllOrigins=true) but kept for documentation
FRONTEND_URL=http://localhost:3000

# ── Appwrite ──────────────────────────────────────────────────────────────────
APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=6a1d473d000841f764b8
APPWRITE_API_KEY=standard_591a11e32c475464d6922aec7419a596bfe17796641fbdcf2903eb397343acde302e9e50cf061cca1cea5d50e20b90dd41752565595775c6dcca835647f98e98259dd1e9d75dc6734a5cb6792c18fdbdf8645b61e029d5922c7d76452b7ef33b31b12b4ad37428f0ecfbfc075d9beaa12d9ba46dc19fd2a140bd571e78328cc6
APPWRITE_DATABASE_ID=6a1d4ccd002763c3b4d2
APPWRITE_REALMS_COLLECTION_ID=realms
APPWRITE_PROFILES_COLLECTION_ID=profiles

# ── Limits ────────────────────────────────────────────────────────────────────
MAX_PLAYERS_PER_REALM=30
